@import 'bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.poppins-thin {
    font-family: "Poppins", system-ui;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", system-ui;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular,
body {
    font-family: "Poppins", system-ui !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.poppins-medium {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", system-ui;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", system-ui;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", system-ui;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-style: italic;
}

* {
    font-size: 14px;
}

.background-layout {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-text-input {
    height: 42px !important;
    margin-top: 5px;
}

.text-Decoration-icon {
    background: linear-gradient(#570000 0%, #0c00a7 51.23%, #000 100%);
    -webkit-background-clip: text;
    /* For Safari */
    -webkit-text-fill-color: transparent;
    /* For text color */
}

.text-recap-h1 {
    font-size: 80px !important;
}

/*Button*/
.btn-primary {
    background: rgb(0, 89, 255);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.absolute {
    position: absolute;
    right: 1px;
}

.drop-item-size {
    width: 140px !important;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.drop-item-size:hover {
    background: rgb(228, 228, 228);
}

.border-rado {
    border-radius: 8px !important;
    overflow: hidden !important;
}

.nav-link-size {
    font-size: 18px;
    color: black;
}

.normal-nav-link {
    font-size: 16px !important;
}

.active {
    color: #0d6efd !important;
    /* Change this to your desired active color */
}

.img-cover {
    border-radius: 12px;
    overflow: hidden;
}

.bor-radio {
    border-radius: 15px !important;
}

.sidebar {
    position: sticky;
    top: 20px; /* Space from the top of the viewport */
    height: 10px; /* Adjust height as needed */
}
